/*============================================================================
	#Icons
==============================================================================*/

.icon-checkmark {

	fill: none;
	stroke: $colorPrimary;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	width: 24px;
	height: 24px;
}

.icon-hend-heart {

	width: 46px;
	height: 46px;
	fill: $colorPrimary;
}

.icon-chat {

	width: 30px;
	height: 44px;
	fill: $colorPrimary;
}

.icon-cart {

	width: 45px;
	height: 45px;
	fill: $colorPrimary;
}

.icon-share {

	width: 24px;
	height: 24px;
	fill: $colorPrimary;
}

.icon-study {

	width: 18px;
	height: 18px;
	fill: $colorSecondary;
}

.icon-chating {

	width: 25px;
	height: 25px;
	fill: $colorSecondary;
}

.icon-contacts {

	width: 25px;
	height: 25px;
	fill: $colorSecondary;
}