/*============================================================================
	#Mobile
==============================================================================*/

.mobile-aside {

	display: none;
	background: rgba(70, 63, 112, 0.8);
	backdrop-filter: blur(4px);
	position: fixed;
	height: 100%;
	width: 240px;
	z-index: 100;
	transform: translateX(-100%);
	transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

	&.active {

		transform: translateX(0);
		transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
}

.mobile-menu {

	display: flex;
	flex-direction: column;
	padding: 40px 16px;

	&__item {

		font-size: 14px;
		margin-bottom: 24px;

		&--small {

			font-size: 10px;
		}

		&.active {

			color: $colorLink;
			// text-decoration: underline;
		}
	}
}

@include _1024 {

	.mobile-aside {

		display: block;
	}

}
