// Fonts 
/////////////////////////////////////////

// font-family
$fontPrimary	: 'Roboto', sans-serif;
$fontSecondary  : 'Roboto', sans-serif;
$fontHeadings   : 'Roboto', sans-serif;

// fotn-weight
$thin      : 100;
$light     : 300;
$regular   : 400;
$medium    : 500;
$semiBold  : 600;
$bold      : 700;
$extraBold : 800;
$black     : 900;


// Colors
/////////////////////////////////////////

$colorBase : #000000;
$colorBody : #1A2231;

$colorPrimary : #F5C1BC;
$colorSecondary : #264066;
$colorLink : #F4CA34;




