/*============================================================================
	#Fonts
==============================================================================*/

// Roboto Regular
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: $regular;
    font-style: normal;
    font-display: swap;
}

// Roboto Medium
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: $medium;
    font-style: normal;
    font-display: swap;
}

// Roboto Bold
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: $bold;
    font-style: normal;
    font-display: swap;
}


